/* #d1{
    background-color: gray;
    margin-left: 25%;
    margin-right: 25%;
}
#btncalcular{
   background-color: red;
   color: white;
   text-align: center;
}

#d2{
    border: 2px solid white;
    text-align: center;
}

h1{
    text-align: center;
}

 */